{% extends "base.html" %}

{% block title %}
    MovieChallenge
{% endblock %}

{% block masthead %}
    <header id="masthead" class="masthead text-white text-center">
        <div id="main" class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">영화 검색</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form action="search/" method="post">
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input type="text" name="title" class="form-control form-control-lg"
                                    placeholder="Search for movie">
                            </div>
                            <div class="col-12 col-md-3">
                                <input type="submit" value="Search"
                                    class="btn btn-block btn-lg btn-primary">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block grid %}
    <section id="gird" class="features-icons bg-light text-center">
        <div id="grid" class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="icon-layers m-auto text-primary"></i>
                        </div>
                        <h3>검색전..</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
