{% extends "base.html" %}

{% block title %}Stock Searched List{% endblock %}

{% block masthead %}
    <div id="masthead">
        <tr>
            <td><h3>영화 상세</h3></td>
            {% for moive in movies%}
                <form action="" method="post">
                    <input type="submit" name="id" value="{{ movie.id }}"
                            onclick="location.href='{% url 'movie:movie_detail' %}'">
                </form>
                <li>Title : {{ moive.title }}</li>
                <li>Year : {{ moive.year }}</li>
                <li>Rating : {{ moive.rating }}</li>
                <li>Genres : {{ moive.genres }}</li>
                <li>Summary : {{ moive.summary }}</li>
            {% endfor %}
        </tr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

<script>
    
</script>

{% block footer %}{% endblock %}